@font-face {
    font-family: 'Ubuntu Bold';
    src: url('ubuntu-b-webfont.eot');
    src: url('ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
    url('ubuntu-b-webfont.woff2') format('woff2'),
    url('ubuntu-b-webfont.woff') format('woff'),
    url('ubuntu-b-webfont.ttf') format('truetype'),
    url('ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Ubuntu Regular';
    src: url('ubuntu-r-webfont.eot');
    src: url('ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
    url('ubuntu-r-webfont.woff2') format('woff2'),
    url('ubuntu-r-webfont.woff') format('woff'),
    url('ubuntu-r-webfont.ttf') format('truetype'),
    url('ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}